@charset "utf-8";

$main-color:rgba(252, 182, 62, 0.5);
$sub-color:rgba(252, 182, 62, 0.1);
$base-font-size:14px;

@function get-rem($px) {
    @return $px / $base-font-size * 1rem;
}

@function get-vw($px, $base-viewport : 414){
    $result : $base-viewport * 0.01 * 1px;
    @return ($px / $result) * 1vw;
}

@mixin clearfix(){
    &:after{
        content:'';
        display:block;
        clear:both;
    }
}

@mixin hidden(){
    position:absolute; 
    width:1px; 
    height:1px; 
    clip:rect(0 0 0 0); 
    overflow:hidden; 
    border:0; 
    padding:0; 
    margin:-1px;
}

