// [TODO] mobile기준으로 볼거얌. font-size vw로 할 것!
@charset "utf-8";
@import '_variables';

// .wrap{
//     margin:0 20px;
//     border:1px solid #333;
//     color:#333;
// }

.article__box{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    position:relative;
    font-size:get-rem(14px);
    color:rgb(37, 35, 35);
    background:$sub-color;
    border:get-rem(3px) solid #{$main-color};
    // padding:get-vw(50px);
    width:100%;
    height:get-rem(420px);

    // padding:get-vw(175px) 5%;
    box-sizing:border-box;
    .article__items{
        width:100%;
        margin:0 5%;

        .article__input__wrap{
            position:relative;
    
            & + .article__input__wrap{
                margin-top:get-rem(10px);
            }
    
    
            input{
                width:70%;
                height:get-rem(30px);
                padding:0 get-rem(5px);
                border:get-rem(2px) solid #{$main-color};
                box-sizing:border-box;
        
                &:focus{
                    outline:none;
                }
        
                &.error{
                    border:get-rem(2px) solid red;
                }
            }
        
            label{
                @include hidden();
            }
        
            select{
                outline:none;
                padding:get-rem(4px) get-rem(5px);
                // min-width:get-vw(65px);
                width:28%;
                height:get-rem(30px);
                vertical-align:top;
                border:get-rem(2px) solid #{$main-color};
                box-sizing:border-box;
                background:#fff;
                cursor:pointer;
        
                &:focus{
                    outline:none;
                }
            }
            
            .err{
                position:absolute;
                left:0;
                font-size:get-rem(12px);
                color: #fff;
                top:-(get-rem(35px));
                // background:#333;
                background:rgba(0,0,0,0.6);
                // [TODO] 나중에 input이랑 크기 맞추기
                padding:get-rem(5px);
    
                &:after{
                    position:absolute;
                    bottom:-(get-rem(5px));
                    left:get-rem(5px);
                    content:'';
                    display:block;
                    width:0px;
                    height:0px;
                    border-left:get-rem(5px) solid transparent;
                    border-right:get-rem(5px) solid transparent;
                    border-top:get-rem(5px) solid rgba(0,0,0,0.6);
                }
            }    
    
        }
    
        .article__submit{
            margin-top:get-rem(10px);
            box-sizing:border-box;
            // padding:get-vw(5px);
            width:100%;
            height:get-rem(30px);
            background:#{$main-color};
            color:#333;
            font-weight:700;
            border:get-rem(2px) solid #{$main-color};
        }
    }

    

    .viewer{
        display:none;
        text-align:center;
        // position:absolute;
        box-sizing:border-box;
        top:0;
        left:0;
        width:100%;
        // height:100%;
        // background:#fff;

        &.on{
            display:block;
        }

        .viewer__inner{
            position:relative;
            width:100%;
            height:100%;

            span{
                display:inline-block;
            }

            .viewer__title{
                font-size:get-rem(16px)
                display:block;

                font-weight:700;
            }

            .text{
                padding:get-rem(5px) 0 get-rem(12px);
                display:block;
                font-size:get-rem(14px)
            }
    
            .highlight{
                color:#fcb63e;   
                font-weight:700;
            }

            .character{
                display:inline-block;
                width:get-rem(80px);
                height:get-rem(80px);
                background-size:cover;
            }
        
            .food{
                display:inline-block;
                width:get-rem(50px);
                height:get-rem(50px);
                background-size:cover;
            
                & + .food{
                    margin-left:get-rem(10px);
                }
            }
    
            .baby{
                .food{
                    background:url(../img/icon_baby_bottle.png)no-repeat;
                    background-size:cover;
    
                    & + .food{
                        margin-left:0;
                    }
                }
            }


            .viewer__close{
                position:absolute;
                top:-(get-rem(24px));
                right:get-rem(5px);
                width:get-rem(24px);
                height:get-rem(24px);
                background:url(../img/icon_close.png)no-repeat;
                background-size:contain;
                border:none;
            }
        }
    }
}

.dog__wrap{
    .character{
        background:url(../img/icon_dog.png)no-repeat;
    }

    .food{
        background:url(../img/icon_dog_food.png)no-repeat;
    }
}


// [TODO] 사료 애니메이션 넣을 것