// [TODO] mobile기준으로 볼거얌. font-size vw로 할 것!

// .wrap{
//     margin:0 20px;
//     border:1px solid #333;
//     color:#333;
// }

.article__box{
    position:relative;
    font-size:14px;
    color:#333;
    background:rgba(252, 182, 62, 0.1);
    border:3px solid rgba(252, 182, 62, 0.5);
    padding:50px;
    box-sizing:border-box;

    .article__input__wrap{
        position:relative;

        & + .article__input__wrap{
            margin-top:10px;
        }


        input{
            padding:5px;
            border:2px solid rgba(252, 182, 62, 0.5);
            box-sizing:border-box;
    
            &:focus{
                outline:none;
            }
    
            &.error{
                border:2px solid red;
            }
        }
    
        label{
            position:absolute;
            left:0;
            top:0;
            overflow:hidden;
            width:1px;
            height:1px;
            clip:rect(0 0 0 0);
            margin-left:-1px;
        }
    
        select{
            outline:none;
            padding:4px 5px;
            min-width:65px;
            vertical-align:top;
            border:2px solid rgba(252, 182, 62, 0.5);
            box-sizing:border-box;
            background:#fff;
            cursor:pointer;
    
            &:focus{
                outline:none;
            }
        }
        
        .err{
            position:absolute;
            left:0;
            font-size: 12px;
            color: #fff;
            top:-35px;
            // background:#333;
            background:rgba(0,0,0,0.6);
            // [TODO] 나중에 input이랑 크기 맞추기
            padding:5px;

            &:after{
                position:absolute;
                bottom:-5px;
                left:5px;
                content:'';
                display:block;
                width: 0px;
                height: 0px;
                border-left:5px solid transparent;
                border-right:5px solid transparent;
                border-top:5px solid rgba(0,0,0,0.6);
            }
        }    

    }

    .article__submit{
        margin-top:10px;
        box-sizing:border-box;
        padding:5px;
        width:100%;
        background:#fff;
        border:2px solid rgba(252, 182, 62, 0.5);
        
        &:hover{
            color:#fff;
            background:rgba(252, 182, 62, 0.5);
        }
    }

    .viewer{
        display:none;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#fff;

        &.on{
            display:block;
        }

        .viewer__inner{
            position:relative;
            width:100%;
            height:100%;
            padding:30px;
            box-sizing:border-box;

            span{
                display:inline-block;

                // & + span{
                //     margin-top:10px;
                // }
            }
            .viewer__title{
                font-size:16px;
                font-weight:700;
            }

            .viewer__close{
                position:absolute;
                top:5px;
                right:5px;
                background:transparent;
                border:none;
            }
        }
    }
}


.dog__wrap{
    .viewer{
        padding:20px; 
        text-align:center;
        
        .text{
            padding:5px 0 12px;
            display:block;
            font-size:14px;
        }

        .highlight{
            color:#fcb63e;   
            font-weight:700;
        }

        .character{
            display:inline-block;
            width:100px;
            height:100px;
            background:url(../img/icon_dog.png)no-repeat;
            background-size:cover;
        }
    
        .food{
            display:inline-block;
            width:50px;
            height:50px;
            background:url(../img/icon_dog_food.png)no-repeat;
            background-size:cover;
        
            & + .food{
                margin-left:10px;
            }
        }

        .baby{
            .food{
                background:url(../img/icon_baby_bottle.png)no-repeat;
                background-size:cover;

                & + .food{
                    margin-left:0;
                }
            }
        }
    }
}


// [TODO] 사료 애니메이션 넣을 것