//[TODO] css, scss 파일 분리, 자동화 만들기

html{
    height:100%;

    body{
        margin:0;
        padding:0;
        font-size:1em;
        height:100%;
    }    

    ul,li,ol{
        list-style:none;
    }
}

header{
    // [TODO] box-shadow로 분리?

    height:50px;
    border-bottom:1px solid red;
    box-sizing:border-box;

    // padding:10px 20px;


    // [TODO] mixin으로 clearboth 만들것
    &:after{
        content:'';
        display:block;
        clear:both;
    }

    h1{
        margin:0;
        float:left;
        width:50%;
        font-size:24px;
        line-height:1;
    }

    .header__btns{
        width:50%;
        float:right;
        text-align:right;

        button{
            padding:2px 20px;
            display:inline-block;
            border:1px solid #333;
            border-radius:3px;
            background:transparent;
            
        }
    }

}

footer{
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
    padding:20px;
    background:#555;
    font-size:12px;
    color:#fff;

    a{
        color:#fff;
    }
}
