@charset "utf-8";
@import '_variables';


//[TODO] css, scss 파일 분리, 자동화 만들기
// [TODO] 스타일 정리하기
html{
    height:100%;
}

body{
    margin:0;
    padding:0;
    height:100%;

    .hidden{
        @include hidden();
    }

    ul,li,ol{
        list-style:none;
    }

    a{
        text-decoration:none;
        color:#333;
    }

    input{
        outline:none;
    }

    a, button{
        outline:none;
        cursor:pointer;
    }
}    

header{
    position:fixed;
    width:100%;
    top:0;
    min-width:320px;
    height:get-rem(60px);
    padding:0 5%;
    box-sizing:border-box;
    box-shadow:get-rem(1px) get-rem(1px) get-rem(10px) rgba(0,0,0,0.5);

    @include clearfix();

    h1{
        margin:0;
        float:left;
        width:50%;
        font-size:get-rem(24px);
        line-height:get-rem(60px);

        a{
            color:#fcb63e;
        }
    }

    .header__btn__prev{
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        right:5%;
        border:none;
        width:get-rem(32px);
        height:get-rem(32px);
        background:url(../img/icon_arrow_left.png)no-repeat;
        background-size:cover;
    }
}


.article{
    padding:get-rem(60px) 5%;
    // min-width:320px;

    display:flex;
    height:calc(100% - #{get-rem(120px)});
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}

footer{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    min-width:320px;
    box-sizing:border-box;
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
    height:get-rem(60px);
    background:#555;
    font-size:get-rem(12px);
    color:#fff;

    a{
        color:#fff;
    }
}

@media (min-width : 1025px){
    html{
        font-size:16px;
    }
}
  
@media (max-width : 1024px){
    html{
        font-size:14px
    }
}
