// [TODO] mobile기준으로 볼거얌. font-size vw로 할 것!
.main__wrap{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;


    .main__list{
        margin:0;
        padding:0;
        max-width:600px;
        border:1px solid #333;

        .main__list__items{
            display:inline-block;
            width:50%;
        }
    }
}