@charset "utf-8";
// [TODO] 공통으로 뺄 수 있겠다 
@import '_variables.scss';

$pets : (dog, cat, rabbit, hamster);

.main__wrap{
    .main__list{
        margin:0;
        padding:0;
        width:100%;
        box-sizing:border-box;

        .main__list__items{      
            background:$sub-color;
            border:get-rem(3px) solid $main-color;
            float:left;
            
            width:calc(50% - #{get-rem(10px)});
            height:get-rem(200px);
            box-sizing:border-box;

            &:nth-of-type(even){
                margin-left:get-rem(20px);
            }

            &:nth-of-type(n+3){
                margin-top:get-rem(20px);
            }

            a{
                display:flex;
                flex-wrap:wrap;
                align-items:center;
                justify-content:center;
                width:100%;
                height:100%;
            }
            
            &:hover .bg_pet{
                transform:scale(1.2);
                transition:all 0.2s linear;
            }

            @each $pet in $pets{
                .bg_pet.#{$pet}{
                    background:url("../img/icon_#{$pet}.png")no-repeat;
                    display:block;
                    width:get-rem(80px);
                    height:get-rem(80px);
                    background-size:contain;
                    background-position:center;
                    transform:scale(1);
                    transition:all 0.2s linear;
                }
            }
        }
    }
}

